<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{title}}</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="player-info">
      <div class="info-row">
        <span class="label">Address:</span>
        <span class="value">{{ address }}</span>
      </div>
      <div class="info-row">
        <span class="label">Balance:</span>
        <span class="value">{{ balance }}</span>
      </div>
      <mat-divider></mat-divider>
    </div>
  </mat-card-content>
</mat-card>
