<div class="container">
  <div class="form">
    <div class="tool">

      <span class="login">
        Создание игры
      </span>

      <span class="example-spacer"></span>

      <button class="close-button" type="button" aria-label="close" (click)="close()">
        <svg class="close-icon" viewBox="0 0 32 32" aria-hidden="true">
          <path d="M6.32 9.23L13.09 16l-6.77 6.77L9.23 25.68 16 18.91l6.77 6.77 2.91-2.91-6.77-6.77 6.77-6.77-2.91-2.91L16 13.09 9.23 6.32 6.32 9.23z"/>
        </svg>
      </button>

    </div>

    <app-create-game-form
      [balanceData]="(getBalanceData$ | async)!"
      (emitter)="events($event)">

    </app-create-game-form>

  </div>
</div>
