@if ((selectActiveGameData$ | async)?.status === 'Waiting payment' || (selectActiveGameData$ | async)?.status === 'notStarted') {
  <app-players-status-table-container></app-players-status-table-container>
}
@if ((selectActiveGameData$ | async)?.finishedPopup) {
  <app-loader
    [title]="'Победитель рассчитывается — пожалуйста, ожидайте...'"
  ></app-loader>
}
@if ((selectActiveGameData$ | async)?.status === 'Game') {
  <app-statistic-button
    [roundsViewData]="roundsViewData$ | async"
  ></app-statistic-button>
  <div class="game-container">
    <app-rock-paper-scissors-game></app-rock-paper-scissors-game>
  </div>
  <app-player-list-in-game-container
    [dataRound]="selectRpsDataRound$ | async"
  ></app-player-list-in-game-container>
}
@if ((selectActiveGameData$ | async)?.status === 'Finished') {
  <app-rock-paper-scissors
    [gameData]="gameData"
  ></app-rock-paper-scissors>
  <app-winner
    [name]="(selectNameWinner$ | async) || ''"
  ></app-winner>
  <app-rounds-statistics
    [roundsViewData]="roundsViewData$ | async"
  ></app-rounds-statistics>
}


