@use '@angular/material' as mat;

.divider-color {
  color: white;
}

.custom-tab-group {
  @include mat.tabs-overrides((
    active-focus-label-text-color: #24ee89,
    active-hover-label-text-color: #24ee89,
    active-label-text-color: #24ee89,
    inactive-focus-label-text-color: white,
    inactive-hover-label-text-color: white,
    inactive-label-text-color: white,
    active-indicator-color: #24ee89,
    active-focus-indicator-color: #24ee89,
    active-hover-indicator-color: #24ee89,
    active-indicator-shape: 4px,
  ));
}
