@if ((createGameIsLoading$ | async) && !(createGameIsLoaded$ | async)) {
  <app-loader
    [title]="('Ожидайте... контракт игры загружается в сеть ' + ((getBalanceData$ | async)?.networkName)) || 'загрузка...'"
  ></app-loader>
} @else {
  <mat-tab-group class="custom-tab-group" animationDuration="0ms">
    <mat-tab label="Ожидающие игроков">
      <app-active-game-list
        [gameType]="gameType"
        [player]="getPlayer$ | async"
        [activeGamesList]="selectActiveGamesWaitPlayers$ | async"
        (emitter)="events($event)"
      ></app-active-game-list>
    </mat-tab>
    <mat-tab label="Игры в процессе">
      <app-active-game-list
        [gameType]="gameType"
        [player]="getPlayer$ | async"
        [activeGamesList]="selectActiveGamesInProgress$ | async"
        (emitter)="events($event)"
      ></app-active-game-list>
    </mat-tab>
    <mat-tab label="Законченые">
      <app-active-game-list
        [gameType]="gameType"
        [player]="getPlayer$ | async"
        [activeGamesList]="selectActiveGamesFinished$ | async"
        (emitter)="events($event)"
      ></app-active-game-list>
    </mat-tab>
    <mat-tab label="Все игры">
      <app-active-game-list
        [gameType]="gameType"
        [player]="getPlayer$ | async"
        [activeGamesList]="selectActiveGames$ | async"
        (emitter)="events($event)"
      ></app-active-game-list>
    </mat-tab>
  </mat-tab-group>
}



