:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;

  .title-list-game {
    margin-bottom: 20px;
    color: #03a51d;
    font-weight: 700;
    font-size: 32px;
  }

  .list-game {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 24px;
    flex-wrap: wrap;
  }
}

.disabled-card {
  position: relative;
  cursor: not-allowed !important;
  pointer-events: none;
}

.disabled-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(128, 128, 128, 0.5);
  z-index: 10;
  border-radius: 14px;
}
