:host {
  background-color: rgb(36, 38, 38);
  width: 100%;
}

app-header-container {
  display: block;
  height: 60px;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-container.sidebar-open .main-content {
  margin-left: 240px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 16px;

  .main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 800px;
  }
}
