<div class="content">
  <table>
    <thead>
    <tr>
      <th colspan="5" class="title">Информация об игре</th>
    </tr>
    <tr>
      <th>#</th>
      <th>Создана</th>
      <th>Окончена</th>
      <th>Ставка</th>
      <th>Количество игроков</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ gameData.id }}</td>
      <td>{{ gameData.createdAt | date:'medium' }}</td>
      <td>
          {{ gameData.finishedAt | date:'medium' }}
      </td>
      <td>{{ gameData.bet }}</td>
      <td>{{ gameData.playersNumber}}</td>
    </tr>
    </tbody>
  </table>
</div>
