<div class="parent-container">
  <div class="content-container">
    <form class="example-form">
      <div>Количество игроков</div>
      <mat-form-field class="example-full-width">
        <input matInput
               [(ngModel)]="playersNumber"
               name="players"
               type="number"
               min="1"
               max="10"
               required
               #playersInput="ngModel"
               (input)="validatePlayers()">
        @if (playersInput.invalid && playersInput.touched) {
          <mat-error>
            @if (playersInput.errors?.['required']) {
              <span>Введите количество игроков</span>
            }
            @if (playersInput.errors?.['min']) {
              <span>Минимум 1 игрок</span>
            }
            @if (playersInput.errors?.['max']) {
              <span>Максимум 10 игроков</span>
            }
          </mat-error>
        }
      </mat-form-field>
    </form>

    <form class="example-form">
      <div>Количество ботов</div>
      <mat-form-field class="example-full-width">
        <input matInput
               [(ngModel)]="bots"
               name="bots"
               type="number"
               min="0"
               max="9"
               #botsInput="ngModel"
               (input)="validateBots()">
        @if (botsInput.invalid && botsInput.touched) {
          <mat-error>
            @if (botsInput.errors?.['min']) {
              <span>Минимум 0 ботов</span>
            }
            @if (botsInput.errors?.['max']) {
              <span>Максимум 4 бота</span>
            }
          </mat-error>
        }
      </mat-form-field>
    </form>

    <form class="example-form">
      <div>Ставка, {{ balanceData.nameToken }} </div>
      <mat-form-field class="example-full-width">
        <input matInput
               [(ngModel)]="bet"
               name="bet"
               type="text"
               pattern="^[0-9]{1,10}$"
               required
               #betInput="ngModel"
               (input)="validateBet()">
        @if (betInput.invalid && betInput.touched) {
          <mat-error>
            @if (betInput.errors?.['required']) {
              <span>Введите ставку</span>
            }
            @if (betInput.errors?.['pattern']) {
              <span>Только цифры, максимум 10 знаков</span>
            }
          </mat-error>
        }
      </mat-form-field>
    </form>
  </div>

  <div class="buttons-container">
    <div class="spacer"></div>
    <button class="default-button" (click)="events('cancel')">
      Назад
    </button>
    <button class="primary-button"
            (click)="events('create')"
            [disabled]="!isFormValid()">
      Создать
    </button>
  </div>
</div>
