:host {
  --cube-size: 100px;
  --cube-size-half: calc(var(--cube-size)/2);
  --transform-time: 3s;

    .dice {
      width: var(--cube-size);
      height: var(--cube-size);

      position: relative;
      transform-style: preserve-3d;
      transition: transform var(--transform-time);

      &.rotate {
        animation: spin 5s infinite linear;
      }

      &.show-1 {
        transform: rotateX(720deg) rotateZ(-720deg);
      }

      &.show-2 {
        transform: rotateX(-900deg) rotateZ(1080deg);
      }

      &.show-3 {
        transform: rotateY(810deg) rotateZ(720deg);
      }

      &.show-4 {
        transform: rotateX(-810deg) rotateZ(-1080deg);
      }

      &.show-5 {
        transform: rotateX(450deg) rotateZ(-720deg);
      }

      &.show-6 {
        transform: rotateY(-450deg) rotateZ(-1440deg);
        &.rotate {
          animation: none;
        }
      }

      .side {
        position: absolute;
        background-color: #ffF;
        border-radius: 5px;
        width:  var(--cube-size);
        height:  var(--cube-size);
        border: 1px solid #e5e5e5;
        text-align: center;
        line-height: 2em;

        &.one   { transform: translateZ(var(--cube-size-half)); }
        &.two   { transform: rotateY(-180deg) translateZ(var(--cube-size-half)); }
        &.three { transform: rotateY(-90deg)  translateZ(var(--cube-size-half)); }
        &.four  { transform: rotateX(90deg)   translateZ(var(--cube-size-half)); }
        &.five  { transform: rotateX(-90deg)  translateZ(var(--cube-size-half)); }
        &.six   { transform: rotateY(90deg)   translateZ(var(--cube-size-half)); }


        .dot {
          position: absolute;
          width: 20%;
          height: 20%;
          margin: -10% 0 0 -10%;
          border-radius: 50%;
          background-color: #f25f5c;
          box-shadow: inset 2px 2px #d90429;
        }

        .two-1, .three-1, .four-1, .five-1, .six-1 { top: 20%; left: 20%; }
        .four-3, .five-3, .six-4 { top: 20%; left: 80%; }
        .one-1, .three-2, .five-5 { top: 50%; left: 50%; }
        .four-2, .five-2, .six-3 { top: 80%; left: 20%; }
        .two-2, .three-3, .four-4, .five-4, .six-6 { top: 80%; left: 80%; }
        .six-2 { top: 50%; left: 20%; }
        .six-5 { top: 50%; left: 80%; }
      }

    }

  @keyframes spin {
    0% {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
  }
}
