<div class="players-in-game">
  @for (player of gameFlow.players; track player.wallet) {
    <div class="player-block">
      <div
        class="result-color-box"
        [class.choice-made]="player.hasActed || player.hasActed || !player.isPlaying"
        [class.show-winner-choice]="player.hasActed"
        [class.show-loser-choice]="!player.isPlaying"
      >
        @if (player.typeResult === 'icon') {
          @if (!player.isPlaying && player.result === '') {
            <mat-icon>clear</mat-icon>
          }
          @if (player.result === '' && player.isPlaying) {
            <mat-icon>question_mark</mat-icon>
          }
          @if (player.result !== '') {
            <mat-icon>{{ player.result }}</mat-icon>
          }
        } @else if (player.typeResult === 'text') {
          @if (player.result === 0) {
            <mat-icon>clear</mat-icon>
          } @else if (!player.result) {
            <mat-icon>question_mark</mat-icon>
          } @else {
            <span class="text-result">{{ player.result }}</span>
          }
        }
      </div>

      <div class="profile-box">
        <div
          class="profile-photo"
          [class.choice-made]="player.wallet === activePlayer?.activeWallet"
        >
          <mat-icon>person_outline</mat-icon>
        </div>
        <span class="profile-name">{{ player.name }}</span>
      </div>
    </div>
  }
</div>
