<div class="input-container">
  <mat-form-field class="custom-input">
    <mat-label></mat-label>
    <input matInput placeholder="Логин" [(ngModel)]="login">
  </mat-form-field>
</div>
<div class="input-container">
  <mat-form-field class="custom-input">
    <mat-label></mat-label>
    <input matInput placeholder="Пароль" [(ngModel)]="password">
  </mat-form-field>
</div>
<app-register-button [label]="'Регистрация'" (click)="onRegistration()"></app-register-button>
<div class="new-gamer">
  <span>  Уже есть аккаунт? </span>
  <span (click)="loginForm()" class="create">Войти</span>
</div>

